.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 76px;
  background-color: $primary-color;
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    height: 100%;
    @media (min-width: $breakpointMD) {
      gap: 16px;
    }
    @media (min-width: $breakpointLG) {
      grid-template-columns: repeat(12, 88px);
    }
    .logo {
      color: white;
      place-self: center;
      grid-column: 2 / span 5;
      justify-self: start;
    }
    @media (min-width: $breakpointLG) {
      .logo {
        grid-column: 6 / span 2;
      }
    }
  }
}
