* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "sans-serif";
  background-color: #fafafa;
}

button {
  font-family: inherit;
}
